*.md
*.log
.git
.gitignore
.DS_Store
.env
.env.local
.env.*.local
target/
.idea/
.vscode/
*.jar
*.war
*.class
*.iml
.project
.classpath
.c9/
*.sublime-workspace
.settings/
.sass-cache/
node_modules/
.rpt2_cache/
.next/
out/
docker-compose*.yml
.editorconfig
.gitattributes
.prettierignore
.eslintignore
tslint.json
karma.conf.js
jest.config.js
Dockerfile
.dockerfile*
k8s-manifests/
k8s-scripts/
init-db.sql
init-sqs.sh/
tests/
